<!DOCTYPE html>
<html lang="en">

<head>
    <title>GoHangApps</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Restaurant List" />
    <meta name="theme-color" content="#E0D8B0" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <meta name="keywords" content="GoHang" />
    <link rel="icon" href="/favicon.ico" />
    <script src="https://kit.fontawesome.com/e47ac627ca.js" crossorigin="anonymous"></script>
</head>

<body>
    <a href="#content" class="skip-link">Skip to content</a>
    <header>
        <nav-bar></nav-bar>
    </header>
    <hero-content></hero-content>
    <main id="content" tabindex="0"></main>
    <footer>
        <p>Copyright &copy; 2022 - GoHang Apps</p>
    </footer>
</body>

</html>